<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rock Paper Scissors!</title>
    </head>
    <body>
        <header>
            <ul>
                <li class="navLink"><a href="/">Home</a></li>
                <li class="navLink"><a href="/rules">Rules</a></li>
                <li class="navLink"><a href="/tips">Tips</a></li>
            </ul>
        </header>
        {% block content %}
        {% endblock %}
        <footer>
            <p>© 2021, Laureline, LLC. Created by Laureline.</p>
        </footer>
    </body>
</html>