{% extends "base.html" %}

{% block content %}

    <h1 id="main-title">Rock Paper Scissors</h1>
    <div class="container">
        <h2>Fancy a round?</h2>
        <p>Press <span>Play</span> to start a new game.</p>
        <button id="play-button" type="button"><a href="/play">Play</a></button>
    </div>

    <!-- <img id="rock" src="{{url_for('static', filename='rock.png')}}" alt="Rock" style="display: inline;">
    <img id="paper" src="{{url_for('static', filename='paper.png')}}" alt="Paper" style="display: inline;">
    <img id="rock" src="{{url_for('static', filename='scissors.png')}}" alt="Scissors" style="display: inline;"> -->

{% endblock %}