{% extends "base.html" %}

{% block content %}

<h1>Make your choice!</h1>

<div id="container-choices">
    <!-- <p>Player 1 chose {{ player1.choice }}</p>
    <p>Player 2 chose {{ player2.choice }}</p> -->
    <p>The result is:{{ result }}</p>
    <!-- <button id="rock">Rock</button>
    <button id="paper">Paper</button>
    <button id="scissors">Scissors</button> -->
    <!-- <img id="rock" src="{{url_for('static', filename='rock.png')}}" alt="Rock" style="display: inline;">
    <img id="paper" src="{{url_for('static', filename='paper.png')}}" alt="Paper" style="display: inline;">
    <img id="rock" src="{{url_for('static', filename='scissors.png')}}" alt="Scissors" style="display: inline;"> -->
</div>

{% endblock %}