<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} Rock Paper Scissors</title>
</head>
<body>
    <h1>Fancy a round of Rock Paper Scissors?</h1>
    <p>Press <span>Play</span> to start a game.</p>

    <button id="play-button" type="button"><a href="/play">Play</a></button>

    <div id="rules">
        <h3>Rules of Rock Paper Scissors</h3>
        <ul>    
            <li>If you choose Rock, you will win against Scissors but lose against Paper.</li>
            <li>If you choose Scissors, you will win against Paper but lose against Rock.</li>
            <li>If you choose Paper, you will win against Rock but lose against Scissors. </li>   
        </ul>
    </div>
 
</body>
</html>